body{
    padding:0px;
    margin:0px;
    width: 100%;
}
.page{
    width: 1109px;
    height: 496px;      
}
ul{
    list-style: none;
}
.header{
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
ul, li, a{
    color: #2F281E;
    line-height: 28px; 
    font-size: 28px;
    text-decoration: none; 
}
.nav-links li{
    display: inline-block;
    flex-flow: wrap;
    justify-content: flex-start;; 
    padding-right:40px;
    width: 350;
    height: 28; 
    font-size: 14px;
    white-space: normal; 
}
.nav-links li a:hover{
    color: red;
   
}
.tools .wrap-two{
    color:#2F281E;
    background-color:white;
    width: 2211px;
    height: 543px; 
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0px;
    margin: 15px; 
    align-items: center;
    justify-content: center; 
    font-size: 16px;
    color:#544837
    }
 #container {
text-align: center;
display: block;
cursor: pointer;


 }
 #button-five{
    color:white;
    background-color: #FF9900;
  
}
i {
    color:#FF9900;
    width: 20px;
    height: 17px;
    }
.logo{
    width: 187px;
    height: 32px; 
    padding-bottom:3px;
    padding-left: 2px; 
    position: relative; 
    right: 200px;
  
}
.wrap{
    width: 518px;
    height: 331px;
    padding-bottom:3px;
    padding-left: 30px;  
}

.picture-one{
    width: 604x;
    height: 35px;
    position: relative;
    left: 700px;
    bottom: 300px;

}
 

    .wrap-two p{
      font-size: 16px;
      margin-top:2px;
    
    }
    .wrap-two h2{
        padding-bottom:1px;
    }
    
   
    h2{
        font-size: 22px;
        padding:15px;

    }
    .tools-heading{
    text-align: center;
  
    } 
    /* .tools{ */ */
        display: flex;
        align-items: center;

    /* } */